.modal-wrapper {
   width: 100vw;
   height: 100vh;
   display: flex;
   justify-content: center;
   align-items: center;
   position: absolute;
   top: 0;
   left: 0;
   z-index: -10;
   background: transparent;
}

.index {
   z-index: 0;
   background: rgba(0, 0, 0, 0.5);
}

.modal {
   position: fixed;
   width: 30%;
   height: max-content;
   transition: 0.2s ease-in all;
   z-index: -1;
   transform: scale(0);
   border-radius: 0.3rem;
   pointer-events: none;
   color: white;
   background: #333;
}

.modal.fade {
   transform: scale(1);
   z-index: 10;
   pointer-events: all;
}

.modal-content {
   position: relative;
   padding: 30px;
}

.modal-content button {
   width: 1.5rem;
   height: 1.5rem;
   background: #404040;
   border: none;
   position: absolute;
   top: 0;
   right: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
}

.modal-content button #svg-path {
   stroke: rgb(255, 235, 235) !important;
}

.modal-content button:hover {
   background: rgb(214, 3, 3);
}
.index-more {
   z-index: 999;
}

@media (max-width: 1200px) {
   .modal {
      width: 40%;
   }
}

@media (max-width: 800px) {
   .modal {
      width: 60%;
   }
}

@media (max-width: 375px) {
   .modal {
      width: 80%;
   }
}
